<h2>Template Switches</h2>
<hr>
<form [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>

        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="radio" 
                value="M"
                formControlName="genero"
                 id="radioMasculino"
                >
                <label class="form-check-label" for="radioMasculino">
                    Masculino
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" 
                value="F"
                formControlName="genero"    
                 id="radioFemenino" checked
                >
                <label class="form-check-label" for="radioFemenino">
                    Femenino
                </label>
            </div>

        </div>
    </div>



    <!-- Swithc -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>

        <div class="col-sm-9" >
            <div class="form-check form-switch mt-2">
                <input class="form-check-input"
                formControlName="notificaciones"
                type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

    <!--TErminos y Condiciones  -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>

        <div class="col-sm-9">
            <div class="form-check mb-11">
                <input class="form-check-input"
                
               formControlName="condiciones"
                type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Acepto terminos y Condiciones
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" 
                class="btn btn-primary float-end">Guardar </button>
        </div>
    </div>

</form>

<h5>Valor de Formulario</h5>
<pre>
    {{miFormulario.value | json}}
</pre>
<br>

<h5>Persona</h5>
<pre>
    {{persona | json}}
</pre>
<br>
<h5>Valido</h5>
<pre>{{miFormulario.valid}} </pre>

<br>

<pre>condiciones :</pre>
